
    <h4 style="text-align:center;font-family:helvetica;margin-top:35px;color:#404040;font-size:20px">Retailer Change Password</h4>
    

    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                
                <div class="col-lg-7 px-5 pt-5">
                    <h1>Online Shopping App</h1>
                    <h4>Forgot Password</h4>
                    <br>
                    <form [formGroup]="retailerforgotpassForm" (ngSubmit) = "doChange()">
                        <div class="form-row">
                            <div class="form-group col-lg-7">
                                <label> Email : </label>
                                <input type = "text" class="form-control" formControlName = "email" >
                                <span>
                                    <div *ngIf = "l.email.errors && l.useremail.touched" class="text-danger">
                                        <div *ngIf = "l.email.errors.required">Email is required</div>
                                        <div *ngIf = "l.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </span>
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-7">
                                <button class = "btn1 mt-3 mb-5" (click) = GetOtp()>{{buttonname}}</button>
                                <div *ngIf = "otpstatus">
                                    <label> OTP : </label>
                                    <input type = "text" class="form-control" formControlName="otp">
                                    <span>
                                        <div *ngIf = "l.otp.errors && l.otp.touched" class="text-danger">
                                            <div *ngIf = "l.otp.errors.required">OTP is required</div>
                                            <div *ngIf = "l.otp.errors.pattern">OTP must be of 4 digits</div>
                                            <!--<div *ngIf = "l.otp.errors.minlength && l.otp.errors.maxlength">OTP is of 4 numbers</div>-->
                                        </div>
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="from-group col-lg-7">
                                <label> New Password : </label>
                                <input type = "password" class="form-control" formControlName = "npass">
                                <span>
                                    <div *ngIf="l.npass.errors && l.newpassword.touched" class="text-danger">
                                        <div *ngIf = "l.npass.errors.required">Password is required</div>
                                        <div *ngIf = "l.npass.errors.minlength">Password must be of minimum 6 characters</div>
                                    </div>
                                </span>
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="from-group col-lg-7">
                                <label> Confirm New Password : </label>
                                <input type = "password" class="form-control" formControlName = "cpass">
                                <span>
                                    <div *ngIf="l.cpass.errors && l.confirmnewpassword.touched" class="text-danger">
                                        <div *ngIf = "l.cpass.errors.required">Confirm Password is required</div>
                                        <div *ngIf = "l.cpass.errors.mustmatch">Password must match</div>
                                    </div>
                                </span>
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button class="btn1 mt-3 mb-5">Change Password</button>
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
        </div>
    </section>
