<div>
    <table id="retailerdetails">
        <tr id="heading">
            <th><span>
                Product Name
            </span></th>
            <th><span >
                Product Brand
            </span></th>
            <th><span >
                Customer Email
            </span></th>
            <th>
                <span >
                    Product Price
                </span>
            </th>
            <th><span >
                Order Quantity
            </span></th>
            <th><span >
                Product status
            </span></th>
            <th><span >
                Retailer Revenue
            </span></th>
        </tr>
        <tr >
            <td ></td>
            
            <td></td>
        </tr>
        <tr >
           <td></td>        
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
</div>
