table{
    width:800px;
    height:80px;
    margin:0 auto;
    /* margin-top:15px; */
    padding:0px;
    /* background-color:darkgrey; */
    border: 1px solid black;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span{
    color: white;
    
}


#heading{
    background-color: black;
}
td{
    background-color: white;
}

